body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: 'Arial', sans-serif;
    transition: background-color 1s ease;
}

#countdown-container {
    text-align: center;
}

#countdown {
    font-size: 48px;
    color: #fff;
}

.hidden {
    display: none;
}

#message {
    font-size: 48px;
    color: #ff6347;
}

#countdown-gif {
    width: 200px;
    margin-top: 20px;
}
